/clases/clase 1/nbproject/private/
/clases/clase 1/build/
/clases/clase2/nbproject/private/
/clases/CLASE3/nbproject/private/
/clases/CLASE3/build/
/clases/practica 2/nbproject/private/
/clases/practica 2/build/
/clases/ejercicio2/nbproject/private/
/clases/ejercicio2/build/
/clases/ejercicio3/nbproject/private/
/clases/ejercicio3/build/
/clases/ejercicio 4/nbproject/private/
/clases/ejercicio 4/build/
/clases/ejercicio4/nbproject/private/
/clases/ejercicio4/build/
/clases/clase5/nbproject/private/
/clases/clase5/build/
/clases/appmeses/nbproject/private/
/clases/appmeses/build/
/clases/appnum/nbproject/private/
/clases/appnum/build/
/clases/appletra/nbproject/private/
/clases/appletra/build/
/clases/calse6/nbproject/private/
/clases/calse6/build/
/clases/Ma/nbproject/private/
/clases/arreglo/nbproject/private/
/clases/arreglo/build/